---
layout: default
title: {{ site.name }}
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post_topic in site.post_topics %}
    <li><span>{{ post_topic.name }}</span>
      {% for post in post_topic.posts %}
        <ul class="posts">
          <li><span>{{ post.date | "Yet to publish" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        </ul>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
</div>

<div id="home">
  <h1>Side Projects</h1>
  <ul class="posts">
    {% for project in site.projects %}
    <li><span><a href="{{ project.url }}">{{ project.name }}</a></span>
      <ul class="posts">
        <li>
          <label for="phase"> Phase: </label>
          <span id="phase">{{ project.phase }}</span> <br/>
           <span>
             {{ post.description }}
           </span>
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>