<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <section class = "nav-bar">
    <ul class = "nav-bar">
      <li class = "nav-bar" ><a class = "nav-bar" href="/" target="_blank">Home</a></li>
      <li class = "nav-bar" ><a class = "nav-bar" href="https://github.com/abdulrahmank" target="_blank">Github</a></li>
      <li class = "nav-bar" ><a class = "nav-bar" href="/about" target="_blank">Stackoverflow</a></li>
      <li class = "nav-bar" ><a class = "nav-bar" href="https://www.linkedin.com/in/kadkababdul/" target="_blank">LinkedIn</a></li>
      <li class = "nav-bar" ><a class = "nav-bar" href="https://medium.com/@kadkab.abdul" target="_blank">Medium</a></li>
      <li class = "nav-bar" ><a class = "nav-bar" href="/about" target="_blank">About</a></li>
      <li class = "nav-bar" ><a class = "nav-bar" href="/resume.pdf" target="_blank">Resume</a></li>
    </ul>
  </section>
</section>